<!-- Footer -->
<footer class="page-footer font-small blue py-1 bg-dark border border-light d-flex justify-content-center">
  <!-- Copyright -->
  <div class="text-center py-1">
      TinyMap    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->